<div style="display:flex; flex-direction:column; min-height:100vh; overflow:hidden">
  <header>
    <div style="display:flex; flex-direction:row; margin-top:1rem;">
      <img src="../../assets/TH_Koeln_Logo.png" height="50" />
    </div>
    <hr />
  </header>
  <main style="flex:auto; text-align:center;">
    <h2>Sicherheit, Privatsphäre und Vertrauen im Netz - WS 2020/2021</h2>
    <h3>Systemübergreifende Identitäten und Single Sign On</h3>
    <p style="margin-top:2rem; margin-bottom:2rem; font-style:italic">
      Systemübergreifende Identitäten und Single Sign On bezeichnet die Möglichkeit, die Anzahl der Anmeldeinformationen bei einer Vielzahl von Systemen zu reduzieren. Darüber hinaus wird ein Austausch von benutzerbezogenen Informationen ermöglicht.
      Die Ausarbeitung stellt die Funktionsweise anhand ausgewählter Architekturen und Protokollen mit entsprechenden Beispielen dar.
      Dafür werden unter anderem die Protokolle SAML und <strong>OAuth 2.0</strong> betrachtet.
    </p>
    <img src="../../assets/OAuth2_authcode.gif" height="300" style="margin-bottom:1rem;"/>
  </main>
  <footer>
    <div style="margin-bottom:0.5rem">
      <hr />
      <div style="display:flex; justify-content:space-between">
        <div style="display:flex;">
          ITS-20/21
        </div>
        <div style="display:flex">
          Patrick Albus und Linnéa Doberstein
        </div>
      </div>
    </div>
  </footer>
</div>
  
